*{

  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  }
  
  html{
  
      font-size: 62.5%;
  }
  .carousel .item{
    height: 300px;
  }
  .item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  
  body{
  
      color:#FFFFFF ;
      font-family:"jost",sans-serif;
      font-size: 1.8rem;
  
  }
  
  header {
      display:flex;
      height: 100vh;
      /* background-image:url("images/header.jpg"); */
      background-size: cover;
      background-position:center;
      flex-direction: column;
  }
  
  
  nav {
      background-color: #333;
      height: 100px;
      display: flex;
      justify-content:flex-end; 
      align-items: center;
      /* width: fit-content; */
    }
    
    nav ul {
      list-style: none;
      margin: 10px;
      padding: 10px;
      display: flex;
    
    }
    
    nav ul li {
      margin:10px;
      float: right;
      justify-content: flex-end;
      display:flex;
  
    }
    
    nav ul li a {
      color:#FFFFFF;
      text-decoration: none;
      font-size: 18px;
      justify-content: flex-end;
      padding-right:20px;
    }
    
  
  nav ul li a:hover{
  opacity:0.5;
  color: #00FF00;
  }  
 
  
  * {box-sizing:border-box}
  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    width: 100%;
   }
  
   .slideshow-container img{
    position: absolute;
    min-height: 80% !important;
   }
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
     height: 80% !important;
    object-fit: cover;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Caption text */
  .text {
    color: #F2F2F2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #F2F2F2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .container-fluid{


color:#00FF00;



  }




  body {
    margin-top: 20px;
}

.footer .footer-socila-icon a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: green;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

.footer .footer-socila-icon a:hover {
    background: #1baaa0;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links li+li {
    padding-top: 10px;
}

.footer .footer-links li a {
    position: relative;
}

.footer .footer-links li a:after {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    transition: ease all 0.35s;
    background: #F84E77;
}

.footer .footer-links li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-border-top.dark {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
  border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
  background: linear-gradient( 180deg, #101010 50%, black 100%) repeat-x !important;
}

.white-link a {
  color: rgba(255, 255, 255, 0.65);
}

a {
  text-decoration: none
}

.avatar-lg img {
 width:90px;
 height:90px;
}

blockquote.left{

  margin: 0;
  padding: 0 0 0 10px;
  border-left: 5px solid floralwhite;
  font-size:20px;
  
}

.container{

  height:60%;
  color:#00FF00;
  align-items:center;

}


.Hire-bike{

color:#00FF00;
background-color: black;
font-family: 'Courier New', Courier, monospace;
border:5px;
border-radius:4px;


}


.container{

  padding:10px ;
  text-align:center ;

}

.details{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin: 0 auto;
}

.con{

  /* nii hii? */
  /* test Margin sasatucheze nayo */
  /* space btn cards? yeah
  reduce ama increase reduce */
  height:550px;
  margin: 5px!important;
  padding:10px;
  text-align: center;
  background-color:rgba(16, 16, 16, 0.1);; 
  
  /* hii n container */
  /* hii ingine ni auto so hii ndo constant */
}


/* width ama height niki try kuweka width hai occupy half of the screen?
card inafaa half of screen ama entire row */
/* width ndio iko n noma then hio space btn cards */
.card{
/* na ukicgange hii heby run*/
/* ttest */
/* test */
/* inashare maybe we reduce the row width size ok */
  width: 300px;
  height: auto;
  box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.2);
  border-radius:10px;
  overflow:hidden;
  color:black;

}
.card img{

  width: 280px;
  height: 100px;
  object-fit: cover;
  border-radius:10px;
  overflow: hidden;
}

.card h1{

  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.card p{

  font-size:1.2rem;
  text-align: center;
  margin:0;
  padding: 2px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;

}





.Hire-bike{

  
    background-color: 	#6f6969; /* Set background color */
    border: none; /* Remove button border */
    color: white; /* Set text color */
    padding: 15px 32px; /* Set padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Set display type */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Set margin */
    cursor: pointer; /* Add cursor */
    border-radius: 10px; /* Set border radius */

}
